<!-- LogError.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Log Error</title>
</head>
<body>
    <h1>Log Error</h1>
    <p>U bent niet ingelogd. Gelieve in te loggen om deze actie uit te voeren.</p>
</body>
</html>