<!-- RechtenError.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Rechten Error</title>
</head>
<body>
    <h1>Rechten Error</h1>
    <p>U heeft niet de juiste privileges om deze actie uit te voeren.</p>
</body>
</html>
